<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>New Tab</title>
    <link rel="icon" href="../assets/images/logo.ico" />
    <link rel="stylesheet" href="../css/home.css" />
</head>
<body>
    <div class="container">
        <img src="../assets/images/logo.ico" alt="Zar Browser" class="logo" />
        <div class="search-container">
            <img src="../assets/icons/search.svg" alt="Search" class="search-icon">
            <input type="text" id="home-search-input" placeholder="Search the web" />
            <button id="search-button"><img src="../assets/icons/forward.svg" alt="Search"></button>
        </div>
    </div>
    <script src="../js/home.js"></script>
</body>
</html>
