body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p#error-message {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

button {
    background-color: #444;
    color: #eee;
    border: 1px solid #666;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
